<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title> 단기임대 숙소 | 당근모아 </title>
  <link rel="stylesheet" th:href="@{/css/guest-search-result.css}"/>
</head>

<main class="main-container" layout:fragment="main">
  <div id="room-list"></div>

  <div class="load-more-container">
    <button id="load-more-button" class="load-more-btn">숙소 더보기</button>
  </div>

  <template id="item-template">
    <article>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="card">
              <a id="item-detail" target="_blank" href="#">
                <img alt="숙소 이미지" class="card-img-top" src="">
                <div class="card-body">
                  <h5 class="card-title" id="item-title"></h5>
                  <p class="card-text" id="item-addr"></p>
                  <p class="card-text price" id="item-price"></p>
                  <p class="card-text">
                    <span id="item-space"></span>
                  </p>
                  <input name="id" value="" type="hidden">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </template>
  <script src="/js/keyword-search-result.js" type="text/javascript"></script>
</main>
</html>